.event{
    color:white;
    font-size:40px;
    padding:0rem 16.5rem;
}

.enets{
    display: flex;
    flex-direction: column;
    padding:0rem 20rem;
}

.enets span{
    color:white;
    padding:1rem 0rem;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 3 columns */
    gap: 20px;
    padding: 60px;
    background: inherit;
    min-height: 100vh;
  }
  
  .grid-item {
    background: rgba(255, 255, 255, 0.08);
    color: white;
    border-radius: 12px;
    padding: 20px;
    text-align: center;
    font-size: 1.2rem;
    font-family: 'Segoe UI', sans-serif;
    box-shadow: 0 0 10px rgba(255,255,255,0.1);
  }
  